<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  
  
  <!-- AZURE DB CREDENTIALS-->
  <connectionStrings>
    <add name="AuthContext" connectionString="server=tcp:etravel.database.windows.net,1433;database=ETravel;Persist Security Info=False;user id=orme;password=Ormmm123@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="ETravelEntities" connectionString="metadata=res://*/ETravelEntities.csdl|res://*/ETravelEntities.ssdl|res://*/ETravelEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:etravel.database.windows.net,1433;initial catalog=ETravel;Persist Security Info=False;user id=orme;password=Ormmm123@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <!-- LOCAL DB CREDENTIALS -->
  <!--
  <connectionStrings>
    <add name="AuthContext" connectionString="server=DESKTOP-AVR2MUP;database=ETravel;integrated security=True;" providerName="System.Data.SqlClient" />
    <add name="ETravelEntities" connectionString="metadata=res://*/ETravelEntities.csdl|res://*/ETravelEntities.ssdl|res://*/ETravelEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AVR2MUP;initial catalog=ETravel;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  -->
  
</configuration>